RewriteEngine on


RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f 

RewriteRule ^read/([0-9]+) read_single.php?id=$1 [NC,L]


RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f 

RewriteRule ^read read.php [NC,L]


RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f 

RewriteRule ^delete$ delete.php [NC,L]


RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f 

RewriteRule ^create create.php [NC,L]


RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f 

RewriteRule ^update update.php [NC,L]